@import "bourbon";
@import "grid-settings";
@import "neat";
@import "../vendor/modularized-normalize-scss/normalize";
@import "mixins";

html
	min-height: 100%
	body
		+linear-gradient(135deg, #ededed, #e1e1e1, #ededed)
		color: #5e5f60
		font-family: "Arial", "Helvetica Neue", "Helvetica", "Roboto", sans-serif
		min-height: 100%
		h1
			color: #65a1a8
			text-align: center
		h3
			color: #65a1a8
			font-size: 18px
		a, li 
			color: #1a3a98
		a
			text-decoration: none
			&:hover
				text-decoration: underline
		#youtube
			display: block
			height: 0
			overflow: hidden
			padding: 0 0 75% 0
			position: relative
			iframe
				border: 0
				bottom: 0
				height: 100%
				left: 0
				position: absolute
				top: 0
				width: 100%
		#wrap
			+outer-container()
			header
				position: relative
				img
					&.img-responsive
						+img-responsive()
				a
					&.tel
						color: #666
						font-weight: 700
						text-decoration: none
			#content
				#contact
					background: #fff
					border-radius: 20px
					h3
						color: #666
						margin: 0
						a
							color: #666
							text-decoration: none
					h5
						color: #646a6e
						font-family: "Tahoma", "Arial", "Helvetica Neue", "Helvetica", "Roboto", sans-serif
						font-weight: 400
					fieldset
						border: 0
						padding: 0
						label
							display: none
						br
							display: none
					input, textarea
						border: 0
						border-radius: 5px
						box-shadow: inset -1px 2px 3px rgba(0,0,0,.5)
						+linear-gradient(to top, #d8d8d8, #efefef)
						color: #7b7b7b
						display: block
						font-size: 13px
						margin-bottom: 10px
						padding: 1em 0.75em
						&::-webkit-input-placeholder
							color: #7b7b7b
							text-transform: uppercase
						&:-moz-placeholder
							color: #7b7b7b
							text-transform: uppercase
						&::-moz-placeholder
							color: #7b7b7b
							text-transform: uppercase
						&:ms-input
							color: #7b7b7b
							text-transform: uppercase
					input[type="submit"]
						background: #65a1a8
						box-shadow: inset -2px -2px 3px rgba(0,0,0,.5), inset 2px 2px 3px rgba(255,255,255,.5)
						border-radius: 0
						color: #fff
						font-size: 20px
						letter-spacing: 0.07em
						line-height: 1em
						margin-bottom: 0
						padding: 0.6em 2.5em
						text-transform: uppercase
						+transition(background 0.3s ease-in-out)
						width: auto
						&:hover
							background: shade(#65a1a8, 8%)
			#sidebar
				#bio
					border-radius: 20px
					box-shadow: 1px 3px 8px rgba(0,0,0,0.2)
					margin-bottom: 15px
					overflow: hidden
					img
						display: block
						width: 100%
					#about
						background-color: #7e7f80
						color: #fff
						font-size: 16px
						padding: 18px
					#quote
						background-color: #f8f8f8
						color: #7e7f7f
						font-size: 17px
						font-weight: 700
						padding: 18px
+media($mobile)
	html
		body
			font-size: 16px
			h1
				font-size: 20px
				br
					display: none
			#wrap
				margin-bottom: 35px
				padding-left: 15px
				padding-right: 15px
				header
					padding-top: 15px
					a
						display: block
						font-size: 24px
						margin-top: 5px
						text-align: center
				#content
					margin-bottom: 15px
					#contact
						padding: 15px
						width: 100%
						h3
							font-size: 16px
							&.phone
								font-size: 30px
						input, textarea
							width: 90%
				#sidebar
					+shift(0)
					+span-columns(4)
+media($tablet)
	html
		body
			#wrap
				header
					a
						+position(absolute, 25px 15px null null)
				#content
					+span-columns(8)
					#contact
						margin: 0 auto
						padding: 25px
						width: 85%
						h3
							font-size: 18px
							&.phone
								font-size: 30px
						h5
							font-size: 16px
							margin-bottom: 14px
							margin-top: 18px
						input, textarea
							width: 75%
				#sidebar
					+shift(1)
					+span-columns(6)
+media($desktop)
	html
		body
			font-size: 18px
			h1
				font-size: 24px
			#wrap
				header
					padding-top: 24px
					a
						font-size: 36px
						top: 40px
				#content
					+span-columns(7)
					margin-bottom: 0
					#contact
						margin: 0
				#sidebar
					+shift(0)
					+span-columns(5)